h1{
       color:yellow;
}
body{
       background:#F2F4F6
#first{
       color:pink;
}
#second{
       color:yellow;
}
#third{
       color:yellow;
}
#fourth{
       color:yellow;
}
#fifth{
       color:yellow;
}
       #box{
              width:1000px;
              margin:100px auto;
              padding:50ox;
       }
