 h1{
                color:blue;
                background:yellow;
            }
            #first{
                color: pink;
                background:purple;
            }
body{
    background:#FFCBCB;
}
#box{
     background:green;
      width:500px;
 mergin:100px auto;
 padding:50px;
}

        
