 h1{
                color:blue;
                background:yellow;
            }
            #first{
                color: pink;
                background:purple;
            }
body{
    background:#F8EFBA;
}
#box{
     background:skyblue;
      width:500px;
 mergin:100px auto;
 padding:50px;
}

        
